@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Open+Sans:600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#header-logo {
  font-family: 'Cabin Sketch', cursive;
  font-weight: semi-bold;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  padding: 0 25px;
  max-width: 1400px;
  margin: 0 auto;
}