<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kid-Doh | About Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/main.css" rel="stylesheet" />
</head>
<body>
<div th:replace="${principal != null} ? ~{fragments/authHeader :: header(principal=${principal})} : ~{fragments/mainHeader:: header}"></div>
<main>
    <h2 class="main-heading">Meet the Kid-Doh team!</h2>

    <div class="container">
        <div class="card-deck" style="margin-bottom: 25px;">
            <div class="card">
                <img class="card-img-top" src="images/saurav.jpg" alt="Card image cap" style="height: 500px">
                <div class="card-body">
                    <h3 class="card-title">Saurav Kadariya</h3>
                    <p class="card-text">
                        I am a full stack developer with established cross functional team oriented skills and project management
                        experience, as demonstrated through 4 years of service in the US Army as a mid-level manager.   I am able
                        to quickly understand users’ priorities and operating constraints and adapt systems to meet their unique needs.  
                        I have experience in Software Development involving Analysis, Design, Development, Testing, and Deploying of
                        applications and implementing n-tier Client/Server applications using Microsoft .Net Framework, C#, and
                        Object Oriented design methodologies. 
                    </p>

                </div>
                <div class="card-footer text-right">
                    <a href="https://www.linkedin.com/in/skadariya/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="images/david.jpg" alt="Card image cap" style="height: 500px">
                <div class="card-body">
                    <h3 class="card-title">David Marchante</h3>
                    <p class="card-text">
                        I recently joined Amazon as a Software Engineer Apprentice.   My past experiences include a year as a Software
                        Engineer with a focus on web development using Angular and C#. Before that I was a a designer for a landscape
                        architecture firm, which helped my developed a sense of empathy for the end user. I am well versed in  HTML, CSS, SASS, JavaScript,
                        TypeScript, Node, Angular, React, C#, MSSQL, and Postgres.  
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="https://www.linkedin.com/in/dmarchante/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/robert.jpg" alt="Card image cap" style="height: 500px">
                <div class="card-body">
                    <h3 class="card-title">Robert Bronson</h3>
                    <p class="card-text">
                        I am driven to contribute to the many technologies that are improving the quality of life across the world.
                        I love the challenge of creating things, and the mystery and reward of troubleshooting and debugging.
                        My military background gives me the drive and grit to do what it takes to get the job done.  HTML, CSS,
                        JavaScript, JQuery, Python, Pyramid, Django, Postgres, AWS,  AWS Lambda,  Node
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="https://www.linkedin.com/in/robert-bronson/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="images/charles.JPG" alt="Card image cap" style="height: 500px">
                <div class="card-body">
                    <h3 class="card-title">Charles Clemens</h3>
                    <p class="card-text">
                        Charles is my name and I am many things beside a full stack web developer (though I do find myself
                        humming Kip's ode to technology from the movie Napolean Dynamite quite often).   Family man, martial artist,
                        veteran, author, comedian, gamer, bassist, public speaker; these are all labels that describe different
                        aspects of myself. At the core I am a man that yearns for growth, a lifelong learner that spends more time
                        researching, contemplating, and practicing than watching tv.   I believe in the chase and motivating others
                        to chase after their own dreams makes me smile.   All too often the inner critic receives more attention than
                        it deserves so everyone wins when we can keep it silent. The inner critic is a liar that does not want you to
                        know the truth: that we can convert dreams, no matter how big, into circumstances as long as we are willing to
                        put in the work to make that happen.
                    </p>
                </div>
                <div class="card-footer text-right">
                    <a href="https://www.linkedin.com/in/cclemensjr/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
        </div>

    </div>

</main>
</body>
</html>