<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kid-doh | Accounts</title>
</head>
<body>
    <h1>Kid-doh Accounts</h1>
    <div th:each="account : ${accounts}">
        <span th:text="${account.name}"></span>
        <span th:text="${account.type}"></span>
        Balance: $<span th:text="${account.balance}"></span>
        <div th:each="transaction : ${account.transactionList}">
            <span th:text="${transaction.date}"></span>
            <span th:text="${transaction.category}"></span>
            <span th:text="${transaction.amount}"></span>
        </div>
    </div>
</body>
</html>