<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kid-doh | Accounts</title>
</head>
<body>
    <h1>Kid-doh Accounts</h1>
    <div th:each="account : ${accounts}">
        <div th:text="${account.name}"></div>
        <div th:text="${account.type}"></div>
        <div th:text="${account.balance}"></div>
        <ul th:each="transaction : ${account.transactionList}">
            <li th:text="${transaction.amount}">

            </li>
        </ul>
    </div>
</body>
</html>