<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Kid-Doh</title>
<link href="/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Welcome to Kid-Doh</h1>
<p th:if="${error.equals('uniqueUserName')}">Requires Unique UserName</p>
<form method="POST" action="/createUser">
    UserName: <input type="text" placeholder="User Name" name="userName" />
    Password: <input type="text" placeholder="Password" name="password" />
    <input type="submit" value="Log In"/>
</form>
</body>
</html>